<div class="content">
  <div class="hero">
    <div class="container centered">
      <div class="new-entry">
        <input class="new-entry-msg" type="text" placeholder="What's on your mind?"/>
        <a href="#" class="btn-add-photo"><i></i>Add Photo</a>
        <a href="#" class="btn-add-video"><i></i>Add Video</a>
      </div>
      <ul class="posts-menu">
        <li class="active">
          All Posts
        </li>
        <li>
          Photos
        </li>
        <li>
          Videos
        </li>
        <li class="toggle-grid pull-right">
        </li>
        <li class="toggle-list pull-right">
        </li>
      </ul>
    </div>
  </div>
  <div class="posts centered">
    <div class="post" ng-repeat="post in posts">
      <div class="content">
        <div class="img-wrapper">
          <img ng-src="{{post.user.thumb}}"/>
        </div>
        <div class="text-wrapper">
          <div class="post-author" ng-bind="post.user.name"></div>
          <div class="post-menu">
            <a class="btn-reply"></a>
            <a class="btn-like"></a>
            <span class="time-ago" ng-bind="post.postedTime"></span>
          </div>
          <p class="body" ng-bind="post.content"></p>
        </div>
      </div>
      <img ng-src="{{post.attachment}}"/>
    </div>
  </div>
</div>
