<div class="content settings centered">
  <h1>
    Settings
  </h1>
  <div class="settings-block">
    <h3>Account</h3>
    <div class="col-img">
      <img src="images/users/thumbs/profile.png" class="thumb"/>
      <a class="btn-change">change</a>
    </div>
    <div class="col-details">
      <input value="{{user.name}}" class="input-name" type="text"/>
      <input value="{{user.email}}" class="input-email" type="text"/>
      <input value="{{user.password}}" class="input-password" type="password"/>
    </div>
  </div>
  <div class="settings-block">
    <h3>Notifications</h3>
    <div class="input-row">
      <input id="cmn-toggle-1" class="cmn-toggle cmn-toggle-round-flat" type="checkbox">
      <label for="cmn-toggle-1"></label>
      <label class="toggle-label">email me when my posts are marked as favorite</label>
    </div>
    <div class="input-row">
      <input id="cmn-toggle-2" checked class="cmn-toggle cmn-toggle-round-flat" type="checkbox">
      <label for="cmn-toggle-2"></label>
      <label class="toggle-label">email me when my posts are marked as favorite</label>
    </div>
    <div class="input-row">
      <input id="cmn-toggle-3" class="cmn-toggle cmn-toggle-round-flat" type="checkbox">
      <label for="cmn-toggle-3"></label>
      <label class="toggle-label">email me when my posts are marked as favorite</label>
    </div>
    <div class="input-row">
      <input id="cmn-toggle-4" class="cmn-toggle cmn-toggle-round-flat" type="checkbox">
      <label for="cmn-toggle-4"></label>
      <label class="toggle-label">email me when my posts are marked as favorite</label>
    </div>
  </div>
  <div class="settings-block">
    <h3>Privacy</h3>
    <div class="input-row">
      <label class="option">
        <input type="checkbox" checked>
        <span class="checkbox"></span>
      </label>
      <label>allow anyone to tag me</label>
    </div>
    <div class="input-row">
      <label class="option">
        <input type="checkbox">
        <span class="checkbox"></span>
      </label>
      <label>only allow people I follow to tag me</label>
    </div>
    <div class="input-row">
      <label class="option">
        <input type="checkbox">
        <span class="checkbox"></span>
      </label>
      <label>don't allow anyone to tag me</label>
    </div>
    <div class="input-row">
      <label class="option">
        <input type="checkbox" checked>
        <span class="checkbox"></span>
      </label>
      <label>add a location to my posts</label>
    </div>
    <div class="input-row">
      <label class="option">
        <input type="checkbox" checked>
        <span class="checkbox"></span>
      </label>
      <label>let others find me by my email address</label>
    </div>
    <div class="input-row">
      <label class="option">
        <input type="checkbox">
        <span class="checkbox"></span>
      </label>
      <label>talor ads based on my information</label>
    </div>
  </div>
  <a class="btn-save">Save Changes</a>
</div>
